.footer {
    color: var(--clr-m-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  @media (min-width: 768px) {
    
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
      
    }
}