.bg-container {
    background-color: var(--clr-bg-light);
  }
  
  .contact-nav {
    margin: 0 1rem;
    align-items: center;
    color: var(--clr-bd-text);
  }
  
  .contact-link-top {
    text-decoration: none;
    color: var(--clr-bd-text);
    &:hover,
    &:focus-visible {
      color: var(--crl-primary);
      transition: var(--transition-time);
    }
  }
  .view-contact {
    place-items: center;
    margin: 0 1rem;
    justify-content: center;
  }
  .contact-header {
    margin: 0 1rem;
    font-size: 40px;
    font-weight: 800;
  }
  
  .contact-icon {
    display: grid;
    color: var(--crl-primary);
    background-color: var(--clr-bg);
    place-items: center;
    padding: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .contact-link {
    text-decoration: none;
    align-items: center;
    color: var(--crl-primary);
  }
  
  @media (min-width: 768px) {
    .contact-nav {
      max-width: 720px;
      padding-left: 1rem;
      /* justify-content: center; */
      /* align-items: center; */
      margin: 0 auto;
    
    }
  
    .view-contact {
      max-width: 720px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap: 2rem;
      display: flex;
      /* flex-direction: column; */
      /* align-items: start; */
    }
}

@media (min-width: 1200px) {
    .contact-nav {
        font-size: .8rem;
      max-width: 1300px;
      padding-left: 1rem;
    }
  
    .view-contact {
      max-width: 1300px;
  
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
    }
}