.HowDoesItWork .container {
    width: 100%;
    padding: 4rem 1rem 4rem 1rem;
    margin: 0 auto;
  
    background-color: var(--clr-bg-light);
  }
  .hdw-h2 {
    text-align: center;
  }
  .hdw-img {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 4rem;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .hdw-h3 {
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 1rem;
  }
  .hdw-content {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 2rem;
    justify-content: center;
    text-align: center;
  }
  #img-mv {
    position: absolute;
  }
  .hdw-tablet {
    display: none;
  
    #img-tv-2 {
      position: absolute;
    }
  }
  .hdw-desktop {
    display: none;
  }
 

  @media (min-width: 768px) {

    /* || HOW DOES IT WORK */
    .hdw-mobile {
      display: none;
    }
  
    .hdw-h2 {
      font-size: 34px;
    }
    .hdw-content {
      max-width: 500px;
    }
    .hdw-tablet {
      display: block;
      margin: 0 auto;
      max-width: 720px;
    } 
}

@media (min-width: 1200px) {

    /* || HOW DOES IT WORK */
    .hdw-h2 {
      font-size: 40px;
    }
    .hdw-h3 {
      font-size: 24px;
    }
  
    .hdw-desktop {
      display: block;
      max-width: 1300px;
      margin: 0 auto;
    }
  
    .hdw-tablet {
      display: none;
    }
  }