.icons {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
  justify-content: center;
}
.icon-boxes {
  display: flex;
  border: 1px solid var(--clr-br);
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  height: 90px;

  justify-content: center;
  justify-items: center;
  align-items: center;
}

#brand-icons {
  display: none;
}

@media (min-width: 768px) {
  .icons {
    max-width: 720px;
    margin: 0 auto;
    width: 90%;
    gap: 1rem;
  }

  #brand-icons {
    display: block;
  }

  #brand-1,
  #brand-2 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .icons {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    gap: 2rem;
  }
  #brand-icons,
  #brand-1,
  #brand-2 {
    display: flex;
  }
}
