
.bg-container {
    background-color: var(--clr-bg-light);
    margin: 0;
}

.contact-nav {
    margin: 0 auto;
    align-items: center;
    color: var(--clr-bd-text);
}

.contact-links-top {
   text-decoration: none;
   color: var(--clr-bd-text);
  &:hover,
  &:focus-visible {
    color: var(--crl-primary);
    transition: var(--transition-time);
  }
}

.contact-header {
    font-size: 40px;
}

.contact-email {
    width: 400px;
}

.contact-icon {
    
    display: grid;
    color: var(--crl-primary);
    background-color: var(--clr-bg);
    place-items: center;
    padding: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-link {

    text-decoration: none;
    align-items: center;
    color: var(--crl-primary);
}

@media (min-width: 768px) { 
    .contact-nav {
        max-width: 720px;
    }

}


@media (min-width: 1200px) {
    .contact-nav {
        max-width: 1300px;
    }
 }